<h1>Editing part</h1>

<% semantic_form_for @part do |form| %>

  <% form.inputs :name => "Basic" do %>
    <%= form.input :title %>
    <%= form.input :offstock, :as => :check_boxes %>
    <%= form.input :retail_cost, :label => "Retail Cost" %>
    <%= form.input :final_cost, :label => "Final Price" %>
  <% end %>

  <% form.buttons do %>
    <%= form.commit_button %>
  <% end %>

<% end %>

<%= link_to 'Show', @part %> |
<%= link_to 'Back', parts_path %>